.custom-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-header__title {
  margin: 0;
}

.custom-header__span {
  font-size: 24px;
}

.add-button {
  border: none;
  height: 30px;
  border-radius: 3px;
}

.list-board {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #01263a;
  z-index: 0;
}

.list-board__item {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  z-index: 1;
  /* height: 89vh; */
}

.list-board__item_focus {
  position: relative;
  width: 100%;
  z-index: 2;
}
