.profile {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #01263a;
}

.profile-block {
  color: white;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.profile-block__title {
  text-align: center;
  margin: 0;
  margin-top: 10rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.profile-block__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  height: 45vh;
  justify-content: space-between;
}

.profile-block__form-items {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.2;
}

.profile-block__form-item {
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.profile-block__form-input {
  background-color: #01263a;
  color: white;
  text-align: right;
  outline: none;
  box-shadow: none;
  padding: 16px 0;
  width: 100%;
  border: none;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.2;
}

.profile-block__form-item:first-child {
  border-bottom: 1px #e8e8e8 solid;
}

.profile-block__form-item-input-label {
  position: absolute;
  left: 0;
  bottom: 16px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
}

.profile-block__form-buttons {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.profile-block__form-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: white;
}

.profile-block__form-button:first-child {
  margin-bottom: 16px;
}

.profile-block__form-link {
  color: #deceb0;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile-block__title {
    font-size: 18px;
    margin-top: 9rem;
    margin-bottom: 80px;
  }
  .profile-block {
    min-height: 73vh;
  }
}

@media screen and (max-width: 464px) {
  .profile-block {
    justify-content: start;
    height: 95vh;
  }
  .profile-block__form {
    height: 63vh;
  }
  .profile-block__form-items {
    margin: 0 30px;
  }
  .profile-block__form-link {
    font-size: 12px;
  }
}
