.error {
  margin: 0;
  margin-bottom: -8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
}

.error_top {
  margin-bottom: 0;
  margin-top: -15px;
}

.error_add-couriers {
  margin: 0;
}

.error_search-couriers {
  text-align: right;
}