* {
  box-sizing: border-box;
}

.Board {
  display: grid;
  /* align-items: center; */
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  background-color: #dcdcdc;
  width: 100%;
  height: 89vh;
  font-family: sans-serif;
  white-space: nowrap;
}

.Column {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;
  background: #465362;
  color: #bfdbf7;
}

.Column__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.Card {
  padding: 15px;
  background: #011936;
  color: #f4fffd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: move;
}

.Card--spacer,
.Card--dragging {
  opacity: 0;
}

.TextForm__input {
  display: block;
  background: #f4fffd;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
  opacity: 0.7;
}

.TextForm__input:focus {
  opacity: 1;
}
