.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background: #00000080;
  transition: visibility 0.3s, opacity 0.3s ease-out;
  opacity: 0;
  box-sizing: border-box;
}

.popup_open {
  z-index: 4;
  display: flex;
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 1;
}

.popup__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 430px;
  width: 75vw;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  color: #000;
  padding: 36px;
  box-sizing: border-box;
}

.popup__close-icon {
  padding: 0;
  position: absolute;
  top: -30px;
  right: -30px;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  background-size: cover;
  transition: opacity 200ms linear;
  outline: none;
}

.popup__close-icon-img {
  color: #2be080;
  width: 30px;
  height: 30px;
}

.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__heading {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin-bottom: 40px;
}

@media screen and (max-width: 390px) {
  .popup__container_mobile {
    padding: 18px;
  }
}

@media screen and (max-width: 321px) {
  .popup__close-icon_mobile {
    top: -50px;
    right: 100px;
  }
}
