.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #dcdcdc;
  padding: 1rem;
  color: #2d4262;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

/* .todo i {
  z-index: 2;
} */

.todo__item {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #dcdcdc;
  padding: 1rem;
  color: #2d4262;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
  /* width: 100%; */
  /* border: 1px solid black; */
}

.todo__item-block-button {
  width: 50px;
}

.todo__item:focus {
  width: 100%;
  border-bottom: 3px solid #c1876b;
}

.todo__item-button {
  /* display: flex; */
  /* position: relative; */
  text-align: center;
  width: 20px;
  height: 20px;
}

.todo__item-button-img {
  width: 20px;
  height: 20px;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}
