.nav {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #01263a;
}
.nav_main {
  justify-content: flex-end;
  height: auto;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}

.nav__menu {
  width: 100%;
  display: flex;
  height: auto;
}

.nav__li {
  margin-right: 30px;
}

.nav__li:last-child {
  margin-right: 0;
}

.nav__button {
  outline: none;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #707c8d;
  background: #deceb0;
}

.nav__button-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0;
}

.nav__button_auth {
  width: 50px;
  margin-left: 20px;
  background: none;
  color: #fff;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.nav__button-img {
  width: 30px;
  height: 30px;
}

.nav__bar-icon {
  display: none;
}

.nav__li_bar {
  display: none;
}

@media screen and (max-width: 769px) {
  .nav__bar-icon {
    display: initial;
    color: #deceb0;
  }
  .nav__li_bar {
    display: initial;
    margin: 0;
  }
  .nav__li_bar-margin {
    margin: 0;
    padding: 0;
    margin-top: 22px;
  }
  .nav__bar-icon_close {
    margin-top: 17px;
    margin-right: 23px;
  }
  .nav__bar {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    background: none;
  }
  .nav__menu {
    border-left: 1px solid white;
    background-color: #fff;
    width: 68vw;
    /* height: 32px; */
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -170%;
    z-index: 2;
  }

  .nav__menu.active {
    background-color: #01263a;
    right: 0;
    transition: 350ms;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  .nav_menu {
    margin-bottom: auto;
    margin-top: 100px;
    background-color: #01263a;
    flex-direction: column;
  }
  .nav__link_color {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  /* .nav__button_auth {
    margin: 0 auto;
    margin-bottom: 90px;
  } */
  .overlay {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .overlay.active {
    margin-top: -18px;
    margin-left: -32px;
    width: 100vw;
    height: 200vh;
    opacity: 0.3;
  }
}

@media screen and (max-width: 464px) {
  .nav__bar {
    font-size: 22px;
  }
  .nav__menu {
    width: 100vw;
  }
  .nav__li_main {
    margin-right: 14px;
  }
  .nav__button-link {
    margin-bottom: 46px;
  }
}
