.header {
  flex: 1 0 auto;
  z-index: 3;
  height: 76px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: #fff;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 1280px) {
  /* .header__nav {
    padding: 18px 30px;
  } */
}

@media screen and (max-width: 769px) {
  .header__nav {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 360px) {
  /* .header__nav {
    padding: 18px 14px;
  } */
}
