.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: auto;
}

.promo__logo {
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 65px 0;
  color: #fff;
  align-self: center;
}

.promo__title {
  max-width: 730px;
  margin: 0 auto;
  padding: 0;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}

.promo__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66px;
  color: #fff;
}

@media screen and (max-width: 734px) {
  .promo__title {
    font-size: 31px;
    line-height: 1.25;
  }
  .promo__logo {
    padding: 30px 0;
  }
}
