.identification {
  margin: auto auto;
  width: 100%;
  max-width: 398px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.identification__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.identification__form-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.identification__form-item {
  margin-top: 34px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.identification__form-item-input {
  background-color: #707c8d;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 0;
  min-height: 30px;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}

.identification__form-item-input:focus {
  border-bottom: 1px solid #deceb0;
}

.identification__form-item-input-label {
  position: absolute;
  left: 0;
  top: -32px;
  font-size: 10px;
  line-height: 4;
  color: white;
}

.identification__buttons {
  display: flex;
  flex-direction: column;
}

.identification__button {
  outline: none;
  border: none;
  color: #707c8d;
  height: 45px;
  border-radius: 3px;
  background: #deceb0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  margin-top: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.identification__span {
  color: white;
  text-align: center;
  margin-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.identification__form-item-heading {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.identification__link {
  text-decoration: none;
  margin-left: 6px;
  color: #deceb0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.identification__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.identification__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 474px) {
  .identification {
    height: 89vh;
  }
  .identification__form {
    width: 81vw;
    align-items: center;
  }
  .identification__form-items {
    width: 100%;
  }
  .identification__form-item-heading {
    margin: 0;
    text-align: center;
  }
  .identification__buttons {
    width: 100%;
  }
  .identification__button {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 30px;
  }
  .identification__span {
    font-size: 12px;
    line-height: 1.25;
  }
  .identification__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
