@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import '~materialize-css/dist/css/materialize.min.css';
@import url('../src/components/Login/Login.css');
@import url('../src/components/App/App.css');
@import url('../src/components/Main/Main.css');
@import url('../src/components/Map/Map.css');
@import url('../src/components/ListBoard/ListBoard.css');
/* @import url('../src/components/SavedCouriers/SavedCouriers.css'); */
@import url('../src/components/Profile/Profile.css');
@import url('../src/components/Header/Header.css');
@import url('../src/components/Navigation/Navigation.css');
/* @import url('../src/components/Footer/Footer.css'); */
@import url('../src/components/404/ErrorPage.css');
@import url('../src/utils/FormValidator/FormValidator.css');
@import url('../src/components/InfoTooltip/InfoTooltip.css');
@import url('../src/components/Popup/Popup.css');
@import url('../src/components/Item/Item.css');
@import url('../src/components/ListBoard/Board/styles.css');
/* @import url('../src/components/AddCouriers/AddCouriers.css'); */
.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', 'Arial', sans-serif;
  height: 100vh;
  background: #01263a;
}

.link_hover:hover {
  opacity: 0.6;
}

.button_disabled {
  opacity: 0.6;
}
