/* @import url('./GoogleMap/GoogleMap.css'); */

.map {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.todo-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.admin-menu__list {
  width: 100%;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 25vw;
  height: 100%;
}

.admin-menu__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-menu__button_popup {
  border-radius: 3px;
  background-color: gray;
}

.admin-menu__button-img {
  width: 40px;
  height: 40px;
}

.admin-menu__button-label {
  color: white;
}

.screen-blocks {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  background-color: white;
}

.screen-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  border-right: 2px solid #deceb0;
}

.screen-block__rating {
  background-color: #ffcc99;
}
.screen-block__during {
  background-color: #9ec2e6;
}
.screen-block__completed {
  background-color: #ccffff;
}
.screen-block:last-child {
  border-right: 0;
}
